In [3]:
### In this lab assignment we will be exploring Single Linear Regression by finding Price of a Car based on its Age

In [17]:
# Step 1 : import library
import pandas as pd

In [18]:
# Step 2 : import data
cars = pd.read_csv('cars.csv')
cars

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [19]:
# Data preprocessing : We will be filling the null values with median values

median_age = cars['Age'].median()
cars['Age'].fillna(median_age, inplace=True)
cars

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,60.0,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,60.0,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [20]:
# Step 3 : define target (y) and features (X)

In [21]:
cars.columns

Index(['Unnamed: 0', 'Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor',
       'Automatic', 'CC', 'Doors', 'Weight'],
      dtype='object')

In [22]:
y = cars['Price']

In [23]:
X = cars[['Age']]

In [24]:
# Step 4 : train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7, random_state=2529)

In [25]:
# check shape of train and test sample
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1005, 1), (431, 1), (1005,), (431,))

In [26]:
# Step 5 : select model
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [27]:
# Step 6 : train or fit model
model.fit(X_train,y_train)

LinearRegression()

In [28]:
model.intercept_

20234.497021662526

In [29]:
model.coef_

array([-169.88821902])

In [30]:
# Step 7 : predict model
y_pred = model.predict(X_test)

In [31]:
y_pred

array([13269.08004184, 17856.06195538,  9701.42744242,  9531.5392234 ,
       11570.19785164,  9531.5392234 , 13438.96826086,  9361.65100438,
        9191.76278536,  8002.54525222, 11400.30963262, 13778.7446989 ,
        6643.43950006, 10211.09209948, 11570.19785164,  9701.42744242,
       17686.17373636,  6983.2159381 ,  9021.87456634,  9191.76278536,
        6983.2159381 , 10550.86853752, 11400.30963262,  7832.6570332 ,
        9191.76278536, 10041.20388046, 14798.07401302, 11230.4214136 ,
       15987.29154616, 10380.9803185 ,  6813.32771908,  9531.5392234 ,
       10041.20388046,  8682.0981283 , 10720.75675654,  9191.76278536,
        6643.43950006, 17516.28551734,  6643.43950006, 16496.95620322,
       14628.185794  , 12419.63894674, 10041.20388046,  9531.5392234 ,
       15647.51510812,  9701.42744242,  7153.10415712,  9531.5392234 ,
       18025.9501744 ,  9871.31566144,  6643.43950006, 10041.20388046,
       10890.64497556,  9191.76278536, 12929.3036038 ,  7153.10415712,
       11909.97428968,  8682.0981283 ,  7492.88059516,  7832.6570332 ,
        7322.99237614, 10380.9803185 , 10041.20388046, 16327.0679842 ,
       18195.83839342, 12419.63894674,  6813.32771908, 11740.08607066,
        9871.31566144,  9191.76278536,  9361.65100438,  9871.31566144,
       12759.41538478,  8682.0981283 ,  9361.65100438,  9021.87456634,
        9871.31566144, 16157.17976518,  9701.42744242, 16327.0679842 ,
        6983.2159381 , 12929.3036038 ,  8342.32169026, 10211.09209948,
        9701.42744242, 13438.96826086, 14628.185794  , 11400.30963262,
        9531.5392234 , 13269.08004184, 14288.40935596, 18875.3912695 ,
        7153.10415712, 17516.28551734,  7322.99237614, 16836.73264126,
        6983.2159381 , 11060.53319458,  6813.32771908, 13269.08004184,
       10211.09209948,  7322.99237614, 12079.8625087 , 14967.96223204,
       10041.20388046,  6643.43950006,  8851.98634732,  9701.42744242,
        9191.76278536, 11060.53319458, 12589.52716576, 10041.20388046,
        7322.99237614,  8512.20990928, 10550.86853752,  8682.0981283 ,
       14288.40935596, 10041.20388046, 11060.53319458,  8851.98634732,
       12079.8625087 ,  9531.5392234 , 13099.19182282, 10720.75675654,
       10041.20388046,  7662.76881418, 15137.85045106,  6983.2159381 ,
        7322.99237614, 13438.96826086, 12759.41538478, 11400.30963262,
       11570.19785164,  8851.98634732,  9531.5392234 , 10720.75675654,
        8682.0981283 , 11400.30963262, 10211.09209948, 10550.86853752,
       13778.7446989 ,  6643.43950006, 13438.96826086, 10211.09209948,
       10890.64497556,  9531.5392234 , 10041.20388046,  9361.65100438,
       10211.09209948,  7153.10415712,  6983.2159381 , 15987.29154616,
       11740.08607066,  7492.88059516,  7153.10415712, 10041.20388046,
       17516.28551734, 13099.19182282,  9361.65100438,  8682.0981283 ,
        8682.0981283 , 11060.53319458,  7153.10415712,  7492.88059516,
        7492.88059516,  6643.43950006,  6983.2159381 ,  9191.76278536,
        6813.32771908, 13438.96826086,  6643.43950006,  6983.2159381 ,
       13099.19182282,  6643.43950006, 15477.6268891 , 12759.41538478,
        8851.98634732,  6813.32771908,  9361.65100438,  8512.20990928,
        9701.42744242, 10041.20388046, 10041.20388046,  8851.98634732,
        9701.42744242,  8851.98634732,  9531.5392234 ,  7832.6570332 ,
        9531.5392234 , 10041.20388046, 10041.20388046, 12929.3036038 ,
        6813.32771908, 16836.73264126, 10041.20388046, 12759.41538478,
        6643.43950006,  6643.43950006,  6813.32771908,  6983.2159381 ,
        9191.76278536,  9871.31566144,  9191.76278536,  6983.2159381 ,
       12759.41538478,  7492.88059516, 19554.94414558,  6813.32771908,
       10041.20388046, 15987.29154616,  7832.6570332 , 10041.20388046,
       11740.08607066, 13948.63291792, 10041.20388046, 11230.4214136 ,
       11060.53319458,  7153.10415712, 10380.9803185 ,  6643.43950006,
        7662.76881418,  9531.5392234 ,  9191.76278536,  8851.98634732,
       13778.7446989 ,  9021.87456634, 13099.19182282,  7832.6570332 ,
       10041.20388046, 12929.3036038 , 16496.95620322,  6813.32771908,
       15647.51510812, 13438.96826086,  8512.20990928, 11909.97428968,
       12249.75072772,  8002.54525222,  9191.76278536, 19045.27948852,
       12249.75072772, 10041.20388046,  9191.76278536, 12759.41538478,
        6643.43950006, 10550.86853752, 11230.4214136 , 10890.64497556,
       10041.20388046, 13269.08004184, 10041.20388046,  8851.98634732,
        9191.76278536, 11060.53319458, 11570.19785164,  7492.88059516,
       12249.75072772, 12419.63894674,  8342.32169026, 15137.85045106,
        8002.54525222,  6983.2159381 , 13269.08004184, 10890.64497556,
        6643.43950006,  7662.76881418, 16836.73264126,  9021.87456634,
       17856.06195538, 10211.09209948,  7832.6570332 , 10041.20388046,
       11740.08607066,  9871.31566144,  9021.87456634, 10041.20388046,
       10041.20388046,  9701.42744242, 13778.7446989 ,  9701.42744242,
        6643.43950006, 11060.53319458, 11230.4214136 ,  8512.20990928,
        6643.43950006, 17006.62086028,  8682.0981283 , 10041.20388046,
        6983.2159381 ,  7153.10415712, 12929.3036038 ,  7322.99237614,
       17346.39729832,  8342.32169026, 10041.20388046, 15307.73867008,
       20064.60880264,  8682.0981283 , 17346.39729832, 14628.185794  ,
        9021.87456634,  7322.99237614, 13778.7446989 , 11570.19785164,
       16496.95620322, 10550.86853752,  6813.32771908,  7322.99237614,
        6643.43950006,  7492.88059516,  7662.76881418, 11060.53319458,
        8682.0981283 , 17516.28551734, 13608.85647988, 11060.53319458,
        9701.42744242,  9871.31566144,  9361.65100438,  9701.42744242,
       10380.9803185 , 18875.3912695 ,  9531.5392234 , 13269.08004184,
        8172.43347124, 13608.85647988,  7492.88059516, 19045.27948852,
       14288.40935596,  9191.76278536, 11909.97428968,  8682.0981283 ,
       15477.6268891 ,  6813.32771908,  9531.5392234 , 11060.53319458,
       10550.86853752, 10041.20388046, 10380.9803185 , 14458.29757498,
       15817.40332714, 15477.6268891 ,  8682.0981283 , 13608.85647988,
        6983.2159381 , 14628.185794  ,  6813.32771908,  7322.99237614,
       18365.72661244, 10041.20388046,  8851.98634732, 17006.62086028,
       13438.96826086,  9701.42744242, 14288.40935596,  8682.0981283 ,
       18705.50305048, 18195.83839342,  8512.20990928, 13608.85647988,
        9701.42744242,  9701.42744242, 10041.20388046, 13269.08004184,
       12079.8625087 , 10041.20388046, 10380.9803185 ,  7832.6570332 ,
       10211.09209948, 11060.53319458,  8342.32169026,  8002.54525222,
       13099.19182282, 15647.51510812, 10041.20388046, 10720.75675654,
       12929.3036038 ,  6983.2159381 ,  7492.88059516, 12759.41538478,
        7153.10415712,  7662.76881418, 11060.53319458,  6983.2159381 ,
        7322.99237614,  8172.43347124, 10041.20388046, 11230.4214136 ,
       10041.20388046, 10211.09209948, 12249.75072772, 10211.09209948,
        7832.6570332 ,  6983.2159381 ,  8682.0981283 ,  9871.31566144,
        8172.43347124, 10041.20388046, 18705.50305048,  7153.10415712,
       11230.4214136 , 10890.64497556,  9701.42744242, 12079.8625087 ,
        7662.76881418, 13099.19182282,  8172.43347124,  9191.76278536,
       16836.73264126,  8512.20990928, 13778.7446989 ,  7492.88059516,
        9701.42744242, 11740.08607066, 10041.20388046,  8512.20990928,
        7153.10415712, 13099.19182282, 10041.20388046, 13778.7446989 ,
        7662.76881418,  8172.43347124, 10041.20388046, 10041.20388046,
       10380.9803185 , 19045.27948852, 10041.20388046,  8342.32169026,
        8682.0981283 ,  7662.76881418, 10041.20388046])

In [32]:
# Step 8 : model accuracy
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

In [33]:
mean_absolute_error(y_test,y_pred)

1319.5350369738574

In [34]:
mean_absolute_percentage_error(y_test,y_pred)

0.12723906663617152

In [35]:
mean_squared_error(y_test,y_pred)

3472379.994722605